*.o
*.bc
*.a
.idea
main/__pycache__/
logs
*/.DS_Store
error-log
concrete/
*/*/*/src
*/*/*/build
*/*/*/source
*/*/*/patched
*/*/*/pacfix
*/*/*/pc-src
*/*/*/pc-runtime
*/*/*/*-bak
*/*/*/repair-out
*/*/*/runtime
*/*/*/smake_source
*/*/*/sparrow-out
*/*/*/dafl*
*/*/*/*.instrumented
!concrete.tar.gz
